<div class="card">
    <img [src]="product.imageUrl" style="height: 16rem;" class="card-img-top" alt={{product.title}} *ngIf="product.imageUrl">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | currency:'USD':true }}</p>
    </div>
    <div class="card-footer" *ngIf="showActions">
        <button
            *ngIf="getQuantity() === 0; else updateQuantity"
            (click)="addToCart()" 
            class="btn btn-primary w-100">Add to Cart</button>
        <ng-template #updateQuantity>
            <div class="row no-gutters">
                <div class="col-3">
                    <button (click)="removeFromCart()" class="btn btn-secondary w-100 d-block">-</button>
                </div>
                
                <div class="col">{{ getQuantity() }} in cart</div>

                <div class="col-3">
                    <button (click)="addToCart()" class="btn btn-secondary w-100 d-block">+</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>