<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">Add Product</a>
</p>

<p>
    <input 
    #query
    (keyup)="filterProducts(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td>{{product.data.title}}</td>
            <td>{{product.data.price}}</td>
            <td>
                <span class="modify">
                <i class="fa fa-solid fa-pen-to-square" [routerLink]="['/admin/products', product.id]"></i>
                <i class="fa fa-trash" aria-hidden="true" (click)="deleteProduct(product.id)"></i>
                </span>
            </td>
        </tr>
    </tbody>
</table>